absl-py==0.9.0
astunparse==1.6.3
autopep8==1.5.2
cachetools==4.1.1
certifi==2018.4.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
h5py==2.10.0
idna==2.6
itypes==1.1.0
Jinja2==2.10
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
numpy==1.18.5
rope==0.17.0
rsa==4.6
scipy==1.5.0
simplejson==3.16.0
six==1.15.0
stevedore==1.30.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.2.0
termcolor==1.1.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
Werkzeug==1.0.1
wrapt==1.12.1
